@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

ul{
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #501214;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #501214;
    line-height: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #B4985A;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #501214;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*Override Button Info Class to Match TXstate Colors */
.btn-info{
    background-color: #B4985A;
    color: #000000;
}

.btn-info:hover{
    background-color: #000000;
    color: #B4985A;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #501214;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* Main Content Section */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    Main Content Section of Page
----------------------------------------------------- */

/* Center Main Header */
#mainHeader{
    text-align: center;
}

/* Title Image */
#title_img{
    border: solid black 3px;
    border-radius: 10px;
    padding: 0;
}

/* Google Map API */
#google_map {
    height: 500px; /* The height is 400 pixels */
    width: 100%;   /* The width is the width of the web page */
}

/* Prompt paragraph elements beneath Google Map */
.mapPrompt{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column p {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.col-centered{
    float: none;
    margin: auto;
}

.dynamic-list{
    display: none;
    text-align: center;
}

br {
   display: block;
   margin: 2px 0;
}

.long_break{
    display: block;
    margin: 5px;
}
/*------------------------------------------------------
 Button Design Here
-----------------------------------------------------*/

/* Strahan */
#btn-strahan{
    background-color: #7b42c2;
    border: solid 2px black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#btn-mathews{
    background-color: #0bd900;
    border: solid 2px black;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#btn-pleasant{
    background-color: #ff0000;
    border: solid 2px black;
    color: black;
    text-shadow: -1px 0 white, 0 1px grey, 1px 0 grey, 0 -1px white;
}

#btn-lbj{
    background-color: #454545;
    border: solid 2px black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* ---------------------------------------------------
    Footer Content
----------------------------------------------------- */
#footer_wrapper {
  margin: 0;
  padding: 0;
  background-color: #B4985A;
  height: 125px;
  width: 100%;
}

#footer_wrapper .container{
    line-height: 125px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/*----------------------------------------------------
      txstTable
----------------------------------------------------- */
div.txstTable {
  border: 1px solid #B4985A;
  background-color: #B4985A;
  width: auto;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  height: auto;
}
.divTable.txstTable .divTableCell, .divTable.txstTable .divTableHead {
  border: 2px solid #501214;
  padding: 3px 2px;
}
.divTable.txstTable .divTableBody .divTableCell {
  font-size: 13px;
  color: #191919;
}
.divTable.txstTable .divTableHeading {
  background: #B4985A;
  background: -moz-linear-gradient(top, #c7b283 0%, #bba26a 66%, #B4985A 100%);
  background: -webkit-linear-gradient(top, #c7b283 0%, #bba26a 66%, #B4985A 100%);
  background: linear-gradient(to bottom, #c7b283 0%, #bba26a 66%, #B4985A 100%);
}
.divTable.txstTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #501214;
  text-align: center;
}
.txstTable .tableFootStyle {
  font-size: 14px;
}
.txstTable .tableFootStyle .links {
	 text-align: right;
}
.txstTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.txstTable.outerTableFooter {
  border-top: none;
}
.txstTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
